node_modules
.env
coverage
coverage.json
typechain
typechain-types
package-lock.json

# Hardhat files
cache
artifacts

# Hardhat deploy
deployments

# UNKNOW
v8-compile-cache-1000
core-js-banners

# c/cpp
*.exe

# ERC721
image/medical/
image/patient/

# Address save
/address
