<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

</style>


<section class="ftco-section" role="main">
  <div class="container" >
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">Register for FHIR</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
          <h3 class="mb-4 text-center">Have an account? <a routerLink="../login"
            style="color: rgb(116, 199, 170);">Sign in</a></h3>
          <form method="post" action="" [formGroup]="registerForm" (ngSubmit)="submit()" novalidate class="signin-form">
            <div class="form-group d-md-flex">
              <div class="w-50 text-md-center">
                <input type="radio" value="PATIENT" name="type" formControlName="type"/><span style="font-size: large; padding-left: 5%;">Patient</span>
              </div>
              <div class="w-50 text-md-center">
                <input type="radio" value="HEALTH_WORKER" name="type" formControlName="type"/><span style="font-size: large; padding-left: 5%;">Medical stuff</span>
              </div>
            </div>
            <div class="form-group ">
              <input type="text" class="form-control" placeholder="Username" required name="userName" id="userName"
              formControlName="userName">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" required
              name="password" id="password" formControlName="password">
              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
            </div>
            <div class="form-group">
              <input type="email" name="email" id="email" placeholder="email" required
              formControlName="email" class="form-control">
              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
            </div>
            <div class="form-group">
              <button type="submit" class="form-control btn btn-primary submit px-3">Sign Up</button>
            </div>
            <!-- <div class="form-group d-md-flex">
              <div class="w-50">
                <label class="checkbox-wrap checkbox-primary">Remember Me
                  <input type="checkbox" checked>
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="w-50 text-md-right">
                <a href="#" style="color: #fff">Forgot Password</a>
              </div>
            </div> -->
          </form>
          <!-- <p class="w-100 text-center">&mdash; Or Sign In With &mdash;</p>
          <div class="social d-flex text-center">
            <a href="#" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Facebook</a>
            <a href="#" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Twitter</a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Toolbar -->
<!-- <div class="toolbar" role="banner">
  <span style="text-align:center; font-size: 28px; margin-left: 20px;">FHIR </span>
</div> -->

<!-- <div class="content" role="main">
  <div class="register_frame">
    <div class="rg_left">
      <p>註冊帳號</p>
      <p>USER REGISTER</p>
    </div>
    <div class="rg_right">
      <form method="post" action="" [formGroup]="registerForm" (ngSubmit)="submit()" novalidate>
        <table>
          <tr>
            <td class="td_left"><label for="Sign-in Options">Sign-in Options</label></td>
            <td class="td_right">
              <input type="radio" value="PATIENT" name="type" formControlName="type"/>個人
              <input type="radio" value="HEALTH_WORKER" name="type" formControlName="type"/>醫護人員
            </td>
          </tr>
          <tr>
            <td class="td_left"><label for="username">Username</label></td>
            <td class="td_right"><input type="text" name="userName" id="userName" formControlName="userName" placeholder="請輸入用戶名"></td>
          </tr>
          <tr>
            <td class="td_left"><label for="password">Password</label></td>
            <td class="td_right"><input type="password" name="password" id="password" formControlName="password" placeholder="請輸入密碼"
              formControlName="password"></td>
          </tr>
          <tr>
            <td class="td_left"><label for="email">Email</label></td>
            <td class="td_right"><input type="email" name="email" id="email" formControlName="email" placeholder="請輸入email"
              formControlName="email"></td>
          </tr>

          <tr>
            <td class="td_left"><label for="ethAddress">ETH Address</label></td>
            <td class="td_right"><input type="text" name="ethAddress" id="ethAddress" formControlName="ethAddress" placeholder="請輸入ETH Address"></td>
          </tr>

          <tr>
            <td colspan="2" align="center"><button type="submit" class="btn btn-default"
                >Register</button> <a style="margin-left: 10px;">忘記密碼？</a></td>
          </tr>
        </table>
      </form>
    </div>
      <div class="login_a">
        <a>已有帳號？</a>
      </div>
  </div>

</div> -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
