.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #71513a;
    color: white;
    font-weight: 650;
}

.login_frame {
    width: 700px;
    height: 200px;
    padding: 13px;
    background-color: rgba(233, 212, 163, 0.678);
    border-radius: 10px;
    text-align: left;
    margin: auto;
}

.rg_left {
    float: left;
    margin: 15px;
}

.rg_left>p:first-child {
    color: #695025;
    font-size: 20px;
    font-weight: 600;
}

.rg_left>p:last-child {
    color: #A6A6A6;
    font-size: 20px;

}

.rg_center {
    /*border: 1px solid red;*/
    float: left;
    width: 500px;

}
.td_left{
    font-size: medium;
    width: 100px;
    text-align: right;
    height: 35px;
}
.td_right{
    font-size: medium;
    padding-left: 50px;
}
#sty_sub{
    width: 100px;
    height: 40px;
    color:beige;
    font-size: medium;
    font-weight: 545;
    background-color: #695025;
    border:1px solid #A6A6A6;
    border-radius: 5px;
}