<section class="ftco-section" role="main">
  <div class="container">
    <div style="display: inline-block; width: 25%; vertical-align: top;" class="col-md-9 text-center mt-5 mb-5 ml-3">
      <h4 style="font-weight: 600;" class="mb-4">最近十筆就醫紀錄</h4>
      <form>
        <div class="form-group">
          <button type="submit" class="form-control"></button>
        </div>
        <div class="form-group">
          <button type="submit" class="form-control"></button>
        </div>
        <div class="form-group">
          <button type="submit" class="form-control"></button>
        </div>
        <div class="form-group">
          <button type="submit" class="form-control"></button>
        </div>
        <div class="form-group">
          <button type="submit" class="form-control"></button>
        </div>
        <div class="form-group">
          <button type="submit" class="form-control"></button>
        </div>
        <div class="form-group">
          <button type="submit" class="form-control"></button>
        </div>
        <div class="form-group">
          <button type="submit" class="form-control"></button>
        </div>
        <div class="form-group">
          <button type="submit" class="form-control"></button>
        </div>
        <div class="form-group mb-4">
          <button type="submit" class="form-control"></button>
        </div>
        <div class="form-group" style="width: 70%; padding-left: 26%;">
          <button type="submit" class="form-control" style="background-color: rgba(32, 74, 114, 0.5)">新增</button>
        </div>
      </form>
    </div>
    <div style="display: inline-block; width: 72%;" class="col-md-9 text-center mt-5 mb-5 mr-3">
      <h4 style="font-weight: 600;" class="mb-4">看診紀錄</h4>
      <form>
        <div class="form-group text-left">
          <div style="display: inline-block; width: 30%;">
            <h5>看診日期</h5>
          </div>
          <div style="display: inline-block; width: 65%;" class="ml-3">
            <h5>看診院所 - 醫生姓名</h5>
          </div>
        </div>
        <div class="form-group text-left">
          <div style="display: inline-block; width: 32%;">
            <input type="date" class="form-control">
          </div>
          <div style="display: inline-block; width: 65%;" class="ml-3">
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="form-group text-left">
          <h5>診斷病因、病徵</h5>
        </div>
        <div class="form-group">
          <input type="text" class="form-control">
        </div>
        <div class="form-group text-left">
          <h5>處置方法</h5>
        </div>
        <div class="form-group">
          <input type="text" class="form-control">
        </div>
        <div class="form-group text-left">
          <h5>處方籤</h5>
        </div>
        <div class="form-group text-left">
          <div style="display: inline-block; width: 60%;">
            <input type="text" class="form-control" placeholder="藥品名稱及規格">
          </div>
          <div style="display: inline-block; width: 24%;" class="ml-2">
            <input type="text" class="form-control" placeholder="用法及用量">
          </div>
          <div style="display: inline-block; width: 13%;" class="ml-2">
            <input type="text" class="form-control" placeholder="總量">
          </div>
        </div>
        <div class="form-group text-left">
          <div style="display: inline-block; width: 60%;">
            <input type="text" class="form-control" placeholder="藥品名稱及規格">
          </div>
          <div style="display: inline-block; width: 24%;" class="ml-2">
            <input type="text" class="form-control" placeholder="用法及用量">
          </div>
          <div style="display: inline-block; width: 13%;" class="ml-2">
            <input type="text" class="form-control" placeholder="總量">
          </div>
        </div>
        <div class="form-group text-left">
          <div style="display: inline-block; width: 60%;">
            <input type="text" class="form-control" placeholder="藥品名稱及規格">
          </div>
          <div style="display: inline-block; width: 24%;" class="ml-2">
            <input type="text" class="form-control" placeholder="用法及用量">
          </div>
          <div style="display: inline-block; width: 13%;" class="ml-2">
            <input type="text" class="form-control" placeholder="總量">
          </div>
        </div>
        <div class="form-group text-left">
          <div style="display: inline-block; width: 60%;">
            <input type="text" class="form-control" placeholder="藥品名稱及規格">
          </div>
          <div style="display: inline-block; width: 24%;" class="ml-2">
            <input type="text" class="form-control" placeholder="用法及用量">
          </div>
          <div style="display: inline-block; width: 13%;" class="ml-2">
            <input type="text" class="form-control" placeholder="總量">
          </div>
        </div>
        <div class="form-group text-left">
          <div style="display: inline-block; width: 60%;">
            <input type="text" class="form-control" placeholder="藥品名稱及規格">
          </div>
          <div style="display: inline-block; width: 24%;" class="ml-2">
            <input type="text" class="form-control" placeholder="用法及用量">
          </div>
          <div style="display: inline-block; width: 13%;" class="ml-2">
            <input type="text" class="form-control" placeholder="總量">
          </div>
        </div>
        <div class="form-group text-left">
          <div style="display: inline-block; width: 25%;">
            <h5>給藥天份</h5>
          </div>
          <div style="display: inline-block; width: 70%;" class="ml-3">
            <h5>處方特約機構</h5>
          </div>
        </div>
        <div class="form-group text-left">
          <div style="display: inline-block; width: 27%;">
            <input type="text" class="form-control">
          </div>
          <div style="display: inline-block; width: 70%;" class="ml-3">
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <div style="display: inline-block;">
            <button type="submit" class="form-control" style="background-color: rgba(32, 74, 114, 0.5)">新增看診紀錄</button>
          </div>
          <div style="display: inline-block;" class="ml-2">
            <h5><a routerLink="../record" style="color: #1e78a8">回上一頁</a></h5>
          </div>

        </div>
      </form>
    </div>
  </div>
</section>
